.finalhero-img {
    background-image: url("../img/finalhero-mobile.png"); no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.pacotes-bottom-hero {
    background-image: url("../img/pacotes-viagens/pacotes-bottomhero-mobile.png"); no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.contact-bottom-hero {
    background-image: url("../img/contato/contactbottomhero-mobile.png"); no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.finalhero {
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .finalhero-img {
    background-image: url("../img/finalhero-tablet-desk.png"); no-repeat;
    background-size: cover;
    width: 100%;
    }

    .pacotes-bottom-hero {
    background-image: url("../img/pacotes-viagens/pacotes-bottomhero-tablet.png"); no-repeat;
    background-size: cover;
    width: 100%;
    }

    .contact-bottom-hero {
    background-image: url("../img/contato/contactbottomhero-tablet.png"); no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    }


}

@media screen and (min-width: 1024px) {
    .finalhero-img {
    height: 600px;
    width: 100%;
    }

    .pacotes-bottom-hero {
    height: 600px;
    width: 100%;
    }

    .contact-bottom-hero {    
    height: 600px;
    width: 100%;
    background-position: center 50%;
    }
}

@media screen and (min-width: 1440px) {
  .contact-bottom-hero {
    background-image: url("../img/contato/contactbottomhero-desktop.png"); no-repeat;
    background-size: cover;    
    height: 600px;
    width: 100%;
}