.hero-img {
  height: 400px;
  width: 100%;
  background-image: url("../img/hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero h2 {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 88px;
  padding-top: 88px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.pacotes.hero-img {
  background-image: url("../img/pacotes-viagens/hero-pacotes.jpg");
  height: 460px;
  background-position: 60% center;
}

.contact.hero-img {
  background-image:   linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ), url("../img/contato/contact-hero.jpg");
  height: 460px;
  background-position: 20% center;
  margin-bottom: 88px;
}

.pacotes hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px 24px;
}

.pacotes h1 {
  font-size: 48px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
  font-family: montserrat, sans-serif;
  padding: 65px 24px 0;
}

.pacotes h2 {
  font-size: 20px;
  font-weight: var(--text-weight);
  color: var(--text-secondary-color);
  font-family: montserrat, sans-serif;
  line-height: 32px;
  text-align: left;
  padding: 0 24px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url("../img/hero-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .pacotes.hero-img {
    height: 620px;
    background-position: center;
  }

  .pacotes hr {
   margin: 16px 0 32px 120px;
}

  .hero h2 {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 88px;
    padding-top: 88px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 32px;
  }

  .pacotes h1 {
    padding: 209px 0 0 120px;
  }

  .pacotes h2 {
    padding: 0 60px 0 120px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background-image: url("../img/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero h2 {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 104px;
    padding-top: 104px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 32px;
  }

  .pacotes h1 {
    padding: 158px 0 0 120px;
  }

  .pacotes h2 {
    padding: 0 0 0 120px;
    line-height: 150%;
    width: 720px;
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 104px;
    padding-top: 104px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 32px;
  }
}
